{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-3">{{ 'page.user.edit.title' | trans }}</h1>

    {{ include('form/_user.html.twig', {form: form, button: 'page.user.create.btn' | trans}) }}

{% endblock %}