{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">{{ message | trans }}</div>
    {% endfor %}

    <div class="my-5">
        <h1>{{ 'page.user.registration.title' | trans }}</h1>


    </div>

{% endblock %}